.checkbox {
  cursor: pointer;

  &__input {
    &:not(:checked)+.checkbox__emulator {
      background-image: none;
      border: 1px solid var(--border-color);
      &::after {
        opacity: 0;
      }
    }
  }

  &__emulator {
    @include flex-center;
    @include square(24px);

    position: relative;
    border-radius: 50%;
    background-image: var(--check-bg-gradient);
    transition-duration: var(--transition-duration);

    @include hover {
      border-color: hsl(258, 87%, 65%) !important;
    }

    &::after {
      @include square(50%);

      content: '';
      transition-duration: var(--transition-duration);
      background: url('/src/images/icon-check.svg') center / contain no-repeat;
    }
  }
}