html {
  @include fluid-text(16, 12);

  font-family: var(--font-family);
  color: var(--main-font-color);
}

* {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
}

button {
  @include reset-button;
  color: inherit;
}

svg {
  display: block;
  color: var(--light-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--footer-font-color);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}