html {
  @include fluid-text(16, 12);

  font-family: var(--font-family);
  color: var(--main-font-color);
}

button {
  @include reset-button;
  color: inherit;
}

svg {
  display: block;
  color: var(--light-color);
}