@import 'normalize',
'fonts',
'variables',
'mixins',
'media',
'utils',
'globals',
'blocks/checkbox',
'blocks/filter',
'blocks/todo',
'blocks/header',
'blocks/tasks',
'blocks/task';

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}